body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {

  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

  --opcaoSelecionada : hsl(220, 98%, 61%);
  --BackgroundColoridoHover : linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

  --divsBg: hsl(0, 0%, 98%);
  --bodyBg: hsl(236, 33%, 92%);
  --linhaEntreLabels: hsl(233, 11%, 84%);
  --letrasFooterColor: hsl(236, 9%, 61%);
  --letrasLabelColor: hsl(235, 19%, 35%);
  --backgroundImage: url(./images/bg-desktop-light.jpg);

  --bodyBg: hsl(235, 21%, 11%);
  --shadows :hsl(235, 24%, 19%);
  --LinhaEntreLabels: hsl(234, 39%, 85%);
  --letrasLabelColorHover: hsl(236, 33%, 92%);
  --letrasLabelColor: hsl(234, 11%, 52%);
  --letrasFooterColor: hsl(233, 14%, 35%);
  --divsBg: hsl(237, 14%, 26%);
  --backgroundImage: url(./images/bg-desktop-dark.jpg);



}